<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blogs{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
    <h1><a href="{% url 'articles' %}">My Blog</a></h1>
    <div class="user-info">
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2024 My Blog</p>
</footer>
</body>
</html>
